html {
    font-size: 62.5%
}

body {
    background: url(https://www.wah.or.kr:444/assets/img/common/doc_bg.gif) repeat-x 0 0;
}

header {
    margin: 0 auto;
    width: 108rem;
}

header>div {
    height: 8.1rem;
}

header>div>h1 {
    float: left;
    margin-right: 19.9rem;
    margin-top: 1.4rem;
    width: 17.1rem;
    height: 4.9rem;
}

/* 검색창 */
header>div>form {
    float: left;
    margin-top: 2.0rem;
    width: 33.6rem;
    height: 3.9rem;
    background: url(images/search_bg.gif) no-repeat 0 0;
}

header>div>form>input[type^="s"] {
    float: left;
    margin: 0.9rem 0 0 1.2rem;
    width: 25.8rem;
    height: 2.2rem;
    border: 0 none;
}

header>div>form>input[type^="i"] {
    float: right;
}

/* 유틸메뉴 */
header>div dl {
    float: right;
    margin-top: 3.4rem;
}

header>div>dl>dd {
    float: left;
    height: 1.1rem;
    padding: 0 1.5rem;
    font: 1.2rem/1.2rem "맑은 고딕", "돋움", sans-serif;
    border-right: 0.1rem solid #c9c9c9;
}

header>div>dl>dd>a {
    color: #444;
}

header>div>dl>dd:nth-of-type(3) {
    border-right: none;
}

/* 네비 */
header nav {
    clear: both;
}

header nav>ul {
    height: 4.6rem;
    margin-top: 0.3rem;
}

header nav>ul:hover>li>ul {
    display: inline-block;
}

header nav>ul>li {
    float: left;
    position: relative;
    width: 17.2rem;
    height: 4.6rem;
    border-left: 0.1rem solid #eaeae9;
    font: 1.4rem/2.9rem "맑은 고딕", sans-serif;
    letter-spacing: -0.05rem;
}

header nav>ul>li:last-child {
    border-right: 0.1rem solid #eaeae9;
}

header nav>ul>li>a {
    display: block;
    width: 17.2rem;
    height: 4.6rem;
    margin-top: 0.9rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #3d3c3c;
}

header nav>ul>li>a:hover {
    color: #1e61a8;
}

header nav>ul>li:hover>ul {
    background: #eef4ef;
}

header nav>ul:hover>li {
    display: block;
}

header nav>ul>li>ul {
    display: none;
    z-index: 300;
    position: absolute;
    top: 4.9rem;
    left: -0.1rem;
    width: 17.2rem;
    height: 20.1rem;
    border-left: 0.1rem solid #c8c8c8;
    border-bottom: 0.3rem solid #1e61a8;
    background: #fff;
}

header nav>ul>li>ul:last-child {
    border-right: 0.1rem solid #c8c8c8;
}

header nav>ul>li>ul>li {
    position: relative;
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin: 0.9rem 0 0 0.8rem;
}

header nav>ul>li>ul>li>a:hover {
    font-weight: bold;
    color: #1e61a8;
}

header nav>ul>li>ul>li>a {
    display: block;
    margin-left: 0.7rem;
    width: 15rem;
    color: #444;
}

header nav>ul>li>ul>li>a:before {
    content: "";
    position: absolute;
    top: 1.1rem;
    left: 0;
    width: 0;
    height: 0;
    border: 0.2rem solid rgba(255, 255, 255, 0);
    border-left: solid #b0b0b0;
}

/* 메인 */
main {
    overflow: hidden;
    clear: both;
    margin: 0 auto;
    width: 108rem;
}

main>section {
    margin: 1.5rem 0;
}

/* 왼쪽 배너 */
main>section>.left_ad {
    float: left;
}

main>section>.left_ad>ul {
    width: 27rem;
    border-bottom: 0.1rem solid #e0e0e0;
    letter-spacing: -0.05rem;
}

main>section>.left_ad>ul:nth-of-type(1) {
    background: url(https://www.wah.or.kr:444/assets/img/main/m_box_bg01.gif) no-repeat 0 0;
    height: 10.9rem;
}

main>section>.left_ad>ul:nth-of-type(2) {
    background: url(https://www.wah.or.kr:444/assets/img/main/m_box_bg02.gif) no-repeat 0 0;
    height: 10.9rem;
}

main>section>.left_ad>ul:nth-of-type(3) {
    background: url(https://www.wah.or.kr:444/assets/img/main/m_box_bg03.gif) no-repeat 0 0;
    height: 10.9rem;
}

main>section>.left_ad>ul:nth-of-type(4) {
    background: url(https://www.wah.or.kr:444/assets/img/main/m_box_bg04.gif) no-repeat 0 0;
    height: 10.9rem;
}

main>section>.left_ad>ul>li {
    margin-left: 9.7rem;
    width: 16.2rem;
}

main>section>.left_ad>ul>li>a {
    display: block;
    color: #444;
}

main>section>.left_ad>ul>li:nth-child(1) {
    padding-top: 2.1rem;
}

main>section>.left_ad>ul>li:nth-child(1)>a {
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

main>section>.left_ad>ul>li:nth-child(2)>a {
    margin-top: 0.7rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

/* 중앙 배너 */
main aside {
    position: relative;
    float: left;
    margin: 0 1.4rem;
    width: 43.2rem;
    height: 44.2rem;
}

main aside>ul>li:nth-of-type(1) {
    z-index: 100;
}

main aside>ul:nth-of-type(2)>li {
    float: left;
    position: absolute;
    width: 100%;
    left: 18rem;
    bottom: 2.2rem;
    z-index: 100;
    text-align: center;
}

main aside>ul:nth-of-type(2)>li>a>img {
    width: 2rem;
    height: 2rem;
}

main aside ul.banner{
    position: absolute;
    bottom: 25px;
    left: 50%;
}

main aside ul.banner>li{
    float: left;
}
main aside ul.banner>li:nth-last-of-type(1){
    padding-right: 2px;
}
main aside>ul:nth-of-type(3)>li {
    float: left;
    position: absolute;
    right: 1.2rem;
    bottom: 2rem;
    z-index: 200;
}

main aside>ul:nth-of-type(3)>li>a>img {
    width: 2rem;
    height: 2rem;
}

ul{
    list-style:none;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:86.4rem;
    height:442px;
    position: relative;
    overflow: hidden;
}
.slider{
    display: flex;
    position:absolute;
    top:0;
    left:0;
}
.item{
    width:100%;
}

.container ul{
    -webkit-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    transition: all 0.25s cubic-bezier(1, .01, .32, 1);
}

/* 오른쪽 광고 */
main>section .right_ad {
    float: left;
    letter-spacing: -0.1rem;
}

main>section>.right_ad>ul {
    width: 27rem;
    border-bottom: 0.1rem solid #e0e0e0;
    letter-spacing: -0.05rem;
}

main>section>.right_ad>ul:nth-child(1) {
    background: url(https://www.wah.or.kr:444/assets/img/main/m_box_bg05_1.gif) no-repeat 0 0;
    height: 10.9rem;
}

main>section>.right_ad>ul:nth-child(2) {
    background: url(https://www.wah.or.kr:444/assets/img/main/m_box_bg06.gif) no-repeat 0 0;
    height: 10.9rem;
}

main>section>.right_ad>ul:nth-child(3) {
    background: url(https://www.wah.or.kr:444/assets/img/main/m_box_bg07.gif) no-repeat 0 0;
    height: 22.2rem;
}

main>section>.right_ad>ul:not(:nth-of-type(3))>li {
    letter-spacing: -0.1rem;
    width: 16.2rem;
}

main>section>.right_ad>ul:nth-of-type(1)>li {
    margin-left: 9.7rem;
}

main>section>.right_ad>ul:nth-of-type(2)>li {
    margin-left: 9.7rem;
}

main>section>.right_ad>ul:nth-of-type(3)>li {
    width: 27rem;
    text-align: center;
}

main>section>.right_ad>ul:nth-of-type(3)>p {
    float: left;
    margin-top: 1.4rem;
    margin-left: 3.8rem;
}

main>section>.right_ad>ul:nth-of-type(3)>p>a:nth-of-type(2) {
    margin-left: 1.8rem;
}

main>section>.right_ad>ul>li>a {
    display: block;
    color: #444;
}

main>section>.right_ad>ul>li:nth-child(1) {
    padding-top: 2.1rem;
}

main>section>.right_ad>ul>li:nth-child(1)>a {
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

main>section>.right_ad>ul>li:nth-child(2)>a {
    margin-top: 0.7rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

/* 공지사항 */
main>.board {
    clear: both;
    height: 22.2rem;
}

main>div>.notice {
    float: left;
    position: relative;
    background: url(https://www.wah.or.kr:444/assets/img/main/m_box_bg11.gif) no-repeat 0 0;
    margin-right: 1.5rem;
    margin-top: 1.7rem;
    width: 49.3rem;
    height: 22.2rem;
}

main>div>.notice>h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 3rem;
    margin-top: 2.6rem;
}

main>div>.notice>ul {
    margin-left: 15rem;
    margin-top: 3.2rem;
}

main>div>.notice>ul>li {
    line-height: 2.4rem;
    letter-spacing: -0.05rem;
    background: url(https://www.wah.or.kr:444/assets/img/common/bluet02.gif) no-repeat 0 1.1rem;
}

main>div>.notice>ul>li>a {
    color: #444;
    font-size: 1.2rem;
    margin-left: 0.8rem;
}

main>div>.notice>ul>li time {
    float: right;
    font-size: 1.2rem;
    margin-right: 2.0rem;
}

main>div>.notice p {
    position: absolute;
    top: 2.1rem;
    right: 2.6rem;
}

main>div>.notice>p img {
    width: 2.5rem;
    height: 2.5rem;
}

/* 자료실 */
main>div>.data {
    position: relative;
    float: left;
    background: url(https://www.wah.or.kr:444/assets/img/main/m_box_bg12.gif) no-repeat 0 0;
    margin-top: 1.7rem;
    width: 49.3rem;
    height: 22.2rem;
}

main>div>.data>h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 3rem;
    margin-top: 2.6rem;
}

main>div>.data>ul {
    margin-left: 15rem;
    margin-top: 3.1rem;
}

main>div>.data>ul>li {
    line-height: 2.4rem;
    background: url(https://www.wah.or.kr:444/assets/img/common/bluet02.gif) no-repeat 0 1.1rem;
}

main>div>.data>ul>li>a {
    color: #444;
    font-size: 1.2rem;
    margin-left: 0.8rem;
}

main>div>.data>ul>li time {
    float: right;
    font-size: 1.2rem;
    margin-right: 2.0rem;
}

main>div>.data p {
    position: absolute;
    top: 2.1rem;
    right: 2.6rem;
}

main>div>.data p img {
    width: 2.5rem;
    height: 2.5rem;
}

/* 하단 */
footer {
    overflow: hidden;
    padding: 0 0 3rem 0;
    border-top: 0.1rem solid #cdcdcd;
    margin-top: 3rem;
}

footer p {
    float: left;
}

footer>div {
    width: 108rem;
    padding-top: 3rem;
    margin: 0 auto;
}

footer p>img {
    width: 7.2rem;
    height: 7.3rem;
}

footer .txt {
    float: left;
    margin-left: 4.4rem;
}

footer dl {
    float: left;
    margin-bottom: 1rem;
}

footer dl>dd {
    float: left;
    font-size: 1.2rem;
    padding: 0 1rem;
    border-left: 0.1rem solid #c9c9c9;
}

footer dl>dd>a {
    color: #000;
}

footer dl>dd:nth-of-type(1) {
    border-left: none;
    padding-left: 0rem;
}

footer dl>dd:nth-of-type(3)>a {
    color: #0000ff;
}

footer address {
    clear: both;
    font-size: 1.2rem;
    letter-spacing: -0.05rem;
    line-height: 2rem;
    color: #666;
}

footer p:nth-of-type(2) {
    float: left;

}

footer p:nth-of-type(2) img {
    width: 10rem;
    height: 6.5rem;
    margin-right: 0.6rem;
}

footer p:nth-of-type(3) {
    float: left;
}

footer p:nth-of-type(3) img {
    width: 12rem;
    height: 5.9rem;
}